/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #69bfdb;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#idMachine {
    margin: 10px;
    }


#execute {
    margin: 10px;
}
input {
    height: 25px;
    border: 2px solid gray;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
}

#execute {
    height: 25px;
    background-color: #e7a100;
    color: white;
    /*font-weight: bolder;*/
    font-size: 15px;
    border: none;
    border-radius: 8px;
}

th, td {
    padding: 15px;
    text-align: left;
}



#logout {
    margin: 20px 100px 0 100px;
    background-color: red;
    font-size: 12px;
    border: none;
    color: white;
    border-radius: 8px;
    height: 25px;
}

.tablebox {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#refill {
    width: 50px;
    height: 30px;
    background-color: #e7a100;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
}

#exit {
    margin: 10px;
    width: 50px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
}

.hide {
    display: none;
}